/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Debug */
.debug .product {
  background-color: green;
  min-height: 450px;
  max-width: 300px;
}

/* Commons */
.container {
  max-width: 1000px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Main */
.col {
  float: left;
  width: calc(100% / 3 - 16px);
  margin: 0 8px;
}

.product-slideshow img {
  width: 100%;
}

.product-img-hover {
  display: none;
}

.product:hover .product-img {
  display: none;
}

.product:hover .product-img-hover {
  display: block;
}
