/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Debug */
.debug .product {
  background-color: green;
  min-height: 450px;
  max-width: 300px;
}

/* Commons */
.container {
  max-width: 1000px;
  margin: auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* Main */
.col {
  float: left;
  width: calc(100% / 3 - 16px);
  margin: 0 8px;
}

.product-slideshow {
  position: relative;
}

.product-slideshow img {
  width: 100%;
}

.product-img-hover {
  display: none;
}

.product:hover .product-img {
  display: none;
}

.product:hover .product-img-hover {
  display: block;
}

.product-btn-wishlist {
  display: none;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #fff;
  border: 0;
  padding: 5px 10px;
  font-size: 18px;
}

.product:hover .product-btn-wishlist {
  display: block;
}

.product-tags {
  position: absolute;
  bottom: calc(15px + 6px);
  left: 0;
}

.tag {
  padding: 3px;
  font-size: 10px;
  color: #fff;
}

.tag-discount {
  background-color: #eb0037;
}

.tag-sustainability {
  background-color: #00875a;
}

.product-brand {
  font-size: 12px;
}

.product-name {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.product-price {
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.product-original-price {
  font-weight: normal;
  font-size: 12px;
  color: #000;
  text-decoration: line-through;
}
